ion-content{
    --background: none;
    background-image: url('/assets/img/loginF.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover
}


.ion-hide-sm-up{
    
}
.inputBox{
    --color :white;
    width: 281px;
    margin-left: 38px;
    margin-top: 316px;
}  
.inputBox2{
    --color :white;
    width: 281px;
    margin-left: 38px;
    margin-top: 20px;
}  

      	
    
  