ion-content{
    --background: none;
    background-image: url('/assets/img/loginF.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover
}






   	
 
     
    @media(max-width:380px){
        .inputBox{
            --color :white;
            width: 281px;
            margin-left: 38px;
            margin-top: 316px;
        }  
        .inputBox2{
            --color :white;
            width: 281px;
            margin-left: 38px;
            margin-top: 20px;
        }  
    }
    @media(min-width:400px){
        .inputBox{
            --color :white;
            width: 281px;
            margin-top: 408px;
        }  
        .inputBox2{
            --color :white;
            width: 281px;
         
        }  
    }