ion-content{
    --background: none;
    background-image: url('/assets/img/loginF.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover
}

.inputBox{
    --color :white !important;
    
}    	
    
  