ion-content{
    --background: none;
    background-image: url('/assets/img/loginF.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover
}

.inputBox{
    --color :white ;
    position: relative;
    top: 332px;
    width: 281px;
    left: 41px;
}  
.inputBox2{
    --color :white ;
    
}    	
      	
    
  